body {
  font-family: Palatino;
  color: #b8b6b4;
  background-color: #e4dddb;
  margin-top: 100px;
}

article {

  div.exerpts {
    margin-top:20px;
    margin-bottom:20px;
    
    .exerpt-wrapper {
      margin-top:10px;
      margin-bottom:10px;
    }
  }

  
}