@keyframes undulate {
  0% { transform: translate(0px); }
  50% {transform: translate(5px) scale(0.95); }
  100% { transform: translate(0px); }
}

.undulating {
  margin-right:5px;
  margin-left:5px;
  display:inline-block;
  animation: undulate 2.5s infinite;
}